<div class="profile-root">
    {{{ ProfileBackButton }}}
    <main class="profile-container">
        {{{ ProfileAvatar avatar=user.avatarFile }}}
        <div class="profile-name">{{user.firstName}}</div>
        <form class="profile-data">
            {{#each fields}}
                {{{ ProfileRow
                    ref=name
                    key=key
                    name=name
                    value=value
                    type=type
                    editable=../editable
                    validate=validate
                }}}
            {{/each}}
        </form>
        <div class="profile-actions">
            {{#if editable}}
                {{{ Button
                    label="Сохранить"
                    onClick=onSave
                    type="primary"
                    ref="saveAction"
                }}}
            {{else}}
                {{#each actions}}
                    {{{ ProfileActionRow
                        label=label
                        critical=critical
                        onClick=onClick
                    }}}
                {{/each}}
            {{/if}}
        </div>
        {{{ ProfileModal ref="modal" }}}
    </main>
</div>
