<div class="profile-root">
    <button class="profile-back" data-page="chats">
        <span class="profile-back__icon">{{ svgIcon 'arrowLeft' }}</span>
    </button>
    <main class="profile-container">
        <div class="avatar profile-avatar">
            {{#unless image}}
                {{ svgIcon 'templateAvatar' }}
            {{/unless}}
            {{#if image}}
                <img src="{{image.path}}" alt="{{image.name}}">
            {{/if}}
            <label for="input_avatar" class="profile-avatar__overlay">Поменять <br /> аватар</label>
            <input
                type="file"
                name="avatar"
                id="input_avatar"
            />
        </div>
        <div class="profile-name">{{firstName}}</div>
        <form class="profile-data">
            {{#each fields}}
                {{{ ProfileRow
                    ref=name
                    key=key
                    name=name
                    value=value
                    type=type
                    editable=editable
                    validate=validate
                }}}
            {{/each}}
        </form>
        <div class="profile-actions">
            {{#if editable}}
                {{{ Button
                    label="Сохранить"
                    onClick=onSave
                    type="primary"
                    ref="saveAction"
                }}}
            {{else}}
                {{#each actions}}
                    {{{ ProfileActionRow
                        label=label
                        critical=critical
                        onClick=onClick
                    }}}
                {{/each}}
            {{/if}}
        </div>
    </main>
</div>
