<div class="message">
    <div class="{{#if file}}message__img{{else}}message__text{{/if}}">
        {{#if file.base64}}
            <img src="data:image/jpeg;base64,{{{file.base64}}}" alt="{{file.name}}">
        {{else}}
            {{content}}
        {{/if}}
    </div>
    <div class="message__info">
        {{#if is_read}}
            <div class="message__check message__check_read">
                {{ svgIcon 'read' }}
            </div>
        {{/if}}
        <span class="message__time">{{time}}</span>
    </div>
</div>
