<div class="chat-preview" data-chat="{{id}}">
    <div class="avatar chat-preview__avatar">
        {{#if avatarFile}}
            <img src="data:image/jpeg;base64,{{{avatarFile}}}" alt="Chat Avatar">
        {{/if}}
    </div>
    <div class="chat-preview__info">
        <div class="chat-preview__row chat-preview__top">
            <span class="chat-preview__name">{{title}}</span>
            <span class="chat-preview__date">{{lastMessage.time}}</span>
        </div>
        <div class="chat-preview__row chat-preview__bottom">
            <div class="chat-preview__message-block">
                {{#if lastMessage.mine}}
                    <span class="chat-preview__author">Вы:</span>
                {{/if}}
                <span class="chat-preview__message">{{lastMessage.content}}</span>
            </div>
            {{#if unreadCount}}
                {{> Badge count=unreadCount }}
            {{/if}}
        </div>
    </div>
</div>
