<main class="chat-window">
    {{#unless selected}}
        <div class="chat-window__empty">
            Выберите чат, чтобы отправить сообщение
        </div>
    {{/unless}}
    {{#if selected}}
        <div class="chat-header">
            <div class="chat-header__author">
                <div class="avatar chat-header__author-avatar">
                    {{#if image}}
                        <img src="{{image.path}}" alt="{{image.name}}">
                    {{/if}}
                </div>
                <div class="chat-header__author-name">{{userName}}</div>
            </div>
            <button class="chat-header__options-button">
                {{ svgIcon 'dots' }}
            </button>
        </div>
        {{> Chat }}
        <form class="chat-input-line">
            <button class="attach-button">{{ svgIcon 'paperClip' }}</button>
            <input class="chat-input" name="message" type="text" placeholder="Сообщение">
            <button class="submit-button">{{ svgIcon 'arrowRight' }}</button>
        </form>
    {{/if}}
</main>
