<div class="profile-row profile-data__row">
    <label class="profile-data__key" for="{{name}}">{{key}}</label>
    <input class="profile-data__value" id="{{name}}" name="{{name}}" value="{{value}}" readonly />
</div>
